:root {
  /* Color styles */
  --white: rgba(255, 255, 255, 1);
  --gray--100: rgba(188, 195, 199, 1);
  --gray--500: rgba(109, 116, 120, 1);
  --gray--950: rgba(4, 4, 4, 1);
  --green--100: rgba(3, 204, 92, 1);
  --blue--100: rgba(1, 169, 255, 1);
  --blue--200: rgba(66, 132, 247, 1);

  /* Effect styles */
  --shadow--100: 0px 4px 4px rgba(68, 131, 63, 0.15);
}

.sr-only {
  width: 0;
  height: 0;
  overflow: hidden;
  outline: none;
  clip-path: 0 0 0 0;
}

article {
  display: flex;
  gap: 8px;
  align-items: center;
  inline-size: max-content;
  padding: 16px 8px 16px 16px;
  box-shadow: var(--shadow--100);
  border-radius: 6px;

  &:hover {
    outline: 2px solid var(--gray--100);
  }
}

div[role="group"] {
  color: var(--gray--950);
}

img {
  inline-size: 50px;
  block-size: 50px;
}

.current-temp {
  margin-block: 0 4px;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--gray--950, black);
}

.temp-state {
  margin: 0;
  font-size: 0.75rem;
}
